@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-input {
  border: 1px solid #d1d5db; 
  color: #000000;
  background-color: #e5e7eb; 
  font-size: 0.875rem; 
  border-radius: 0.5rem; 
  width: 100%; 
  padding: 0.625rem; 
}

.custom-input:focus {
  outline: none; 
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5); 
}
.custom-label {
  display: block; 
  margin-bottom: 0.5rem; 
  font-size: 0.875rem; 
  font-weight: 500; 
  color: #000000; 
}

input[type='color'] {
  padding: 0;
  width: 150%;
  height: 150%;
  margin: -25%;
 
}

.cp_wrapper {
  overflow: hidden;
  width: 2.5em;
  height: 2.5em;
  /* optional formatting below here */
  border-radius: 50%;
  box-shadow: 1px 1px 3px 0px grey;
  margin: 1em;
 
  margin-top: 3px;
}

